[submodule "addons/vsk_avatar"]
	path = addons/vsk_avatar
	url = https://github.com/V-Sekai/vsk_avatar.git
[submodule "addons/math_util"]
	path = addons/math_util
	url = https://github.com/V-Sekai/math_util.git
[submodule "addons/gd_util"]
	path = addons/gd_util
	url = https://@github.com/V-Sekai/gdutil.git
[submodule "addons/vsk_vrm_avatar_tool"]
	path = addons/vsk_vrm_avatar_tool
	url = https://github.com/V-Sekai/vsk_vrm_avatar_tool
[submodule "addons/root-motion-extractor"]
	path = addons/root-motion-extractor
	url = https://github.com/V-Sekai/root-motion-extractor.git