[submodule "addons/vsk_avatar"]
	path = addons/vsk_avatar
	url = https://github.com/V-Sekai/vsk_avatar.git
[submodule "addons/math_util"]
	path = addons/math_util
	url = https://github.com/V-Sekai/math_util.git
